@using mr_shtrahman.Models

@{ User activeUser = ((User)TempData["User"]);

    }

        <li class="nav-item" style=" @{
        if (activeUser != null && !activeUser.isAdmin)
        {
            @:"display: none"
        }
        else
        {
            @:"display: block"
        }
         }>
            @Html.ActionLink("USERS", "Index", "Users")
        </li>

@if (activeUser != null && activeUser.Name != null)
{
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="signOut();">SIGN OUT</a>
    </li>
}
