<link rel="stylesheet" href="~/css/shop.css">

@model mr_shtrahman.Models.Shop
@using mr_shtrahman.enums

@{
    ViewData["Title"] = "Edit";
}

<div class="specific-header">
    <img src="@ViewBag.Image.Src.Substring(1)" />
    <h1>EDIT SHOP</h1>
    <a asp-action="Index">Go Back</a>
</div>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="data-section">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <label class="control-label">Name: </label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Address: </label>
            <div class="row g-3">
                <div class="col-sm-5">
                    <select asp-for="City" asp-items="@Html.GetEnumSelectList<City>().OrderBy(t => t.Text)" class="form-control"></select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-sm-5">
                    <input type="text" asp-for="Street" class="form-control" placeholder="Street" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <input type="text" asp-for="StreetNum" class="form-control" placeholder="Number" />
                    <span asp-validation-for="StreetNum" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <label class="control-label">Phone Number: </label>
                    <input type="text" asp-for="PhoneNum" class="form-control" placeholder="Name" />
                    <span asp-validation-for="PhoneNum" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <label class="control-label">Rating: </label>
                    <input type="text" asp-for="Rating" class="form-control" placeholder="Rating" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="data-section">
        <div class="form-group">
            <label class="control-label">Opening times: </label>
            <div class="row g-3">
                <div class="col-sm-3">
                    <span>Sun-Thu: </span>
                </div>
                <div class="col-sm-3">
                    <input asp-for="OpeningSundayTilThursday" class="form-control" placeholder="hh:mm" />
                    <span asp-validation-for="OpeningSundayTilThursday" class="text-danger"></span>
                </div>
                <span> - </span>
                <div class="col-sm-3">
                    <input asp-for="ClosingSundayTilThursday" class="form-control" placeholder="hh:mm" />
                    <span asp-validation-for="ClosingSundayTilThursday" class="text-danger"></span>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-sm-3">
                    <span>Friday : </span>
                </div>
                <div class="col-sm-3">
                    <input asp-for="OpeningFriday" class="form-control" placeholder="hh:mm" />
                    <span asp-validation-for="OpeningFriday" class="text-danger"></span>
                </div>
                <span> - </span>
                <div class="col-sm-3">
                    <input asp-for="ClosingFriday" class="form-control" placeholder="hh:mm" />
                    <span asp-validation-for="ClosingFriday" class="text-danger"></span>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-sm-3">
                    <span>Saturday: </span>
                </div>
                <div class="col-sm-3">
                    <input asp-for="OpeningSaturday" class="form-control" placeholder="hh:mm" />
                    <span asp-validation-for="OpeningSaturday" class="text-danger"></span>
                </div>
                <span> - </span>
                <div class="col-sm-3">
                    <input asp-for="ClosingSaturday" class="form-control" placeholder="hh:mm" />
                    <span asp-validation-for="ClosingSaturday" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="data-section">
        <label class="control-label">Products you can find here: </label>
        <select asp-for="Products" asp-items="@ViewBag.Product" class="form-control"></select>
        <span asp-validation-for="Products" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
