<link rel="stylesheet" href="~/css/home.css">

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="header">
        <h1>Welcome To Mr Shtrahman</h1>
        <h4>Be prepared for your next adventure</h4>
    </div>
    <div class="content">
        <a asp-area="" asp-controller="Products" asp-action="Index">
            <div class="jumbotron jumbotron-fluid" id="products">
                <div class="container">
                    <div class="jumbotron-content">
                        <h3 class="display-4">OUR PRODUCTS</h3>
                        <aside>
                            <p class="lead">Check out what we have in our shops, so you can get the best possible equipmment for your next trip</p>
                        </aside>
                    </div>
                </div>
            </div>
        </a>
        <a asp-area="" asp-controller="Trips" asp-action="Index">
            <div class="jumbotron jumbotron-fluid" id="trips">
                <div class="container">
                    <div class="jumbotron-content">
                        <h3 class="display-4">OUR TRIPS</h3>
                        <aside>
                            <p class="lead">Explore the variety of trips and tours we have to offer, suitable for any population and any purpose</p>
                        </aside>
                    </div>
                </div>
            </div>
        </a>
        <a asp-area="" asp-controller="Shops" asp-action="Index">
            <div class="jumbotron jumbotron-fluid" id="shops">
                <div class="container">
                    <div class="jumbotron-content">
                        <h3 class="display-4">OUR SHOPS</h3>
                        <aside>
                            <p class="lead">Find out where you can find us, contact our experienced staff and get the answer to any question</p>
                        </aside>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
