<link rel="stylesheet" href="~/css/home.css">

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="header">
        <h1>Welcome To Mr Shtrahman</h1>
        <h4>Be prepared for your next adventure</h4>
    </div>
    <div class="content">
        <a asp-area="" asp-controller="Products" asp-action="Index">
            <div class="jumbotron jumbotron-fluid" id="products">
                <div class="container">
                    <div class="jumbotron-content">
                        <h3 class="display-4">OUR PRODUCTS</h3>
                        <aside>
                            <p class="lead">Check out what we have in our shops, so you can get the best possible equipmment for your next trip</p>
                        </aside>
                    </div>
                </div>
            </div>
        </a>
        <a asp-area="" asp-controller="Trips" asp-action="Index">
            <div class="jumbotron jumbotron-fluid" id="trips">
                <div class="container">
                    <div class="jumbotron-content">
                        <h3 class="display-4">OUR TRIPS</h3>
                        <aside>
                            <p class="lead">Explore the variety of trips and tours we have to offer, suitable for any population and any purpose</p>
                        </aside>
                    </div>
                </div>
            </div>
        </a>
        <a asp-area="" asp-controller="Shops" asp-action="Index">
            <div class="jumbotron jumbotron-fluid" id="shops">
                <div class="container">
                    <div class="jumbotron-content">
                        <h3 class="display-4">OUR SHOPS</h3>
                        <aside>
                            <p class="lead">Find out where you can find us, contact our experienced staff and get the answer to any question</p>
                        </aside>
                    </div>
                </div>
            </div>
        </a>
        <div class="about">
            <h4>About Us</h4>
            <p>
                Mr-Shtraham is the largest group in Israel in the fields of travel information and equipment. The Group operates a chain of many centres for travelers, that are acknowledged as the biggest and most professional in their field, as well as a number of websites, foremost of which is the Mr-Shtrahman Website. This is the biggest and most popular travelling and tourism website in Israel.
                The Website was created in 2021 and has become over time Israel's leading travel website, with over 500,000 pages of travel information. On average, the website is visited by 120,000-130,000 unique users per day! A large team of professional madmah students add and update the information to the website, based on their own personal knowledge and experience, and in collaboration with various tourist ministries and travel companies from all over the world.
            </p>
            <div name="twitter" class="text-center">
                <a class="twitter-timeline" data-lang="en" href="https://twitter.com/MrShtrahman?ref_src=twsrc%5Etfw">Tweets by MrShtrahman</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>


    </div>
</div>
