@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.eot);
    src: url(/fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'), 
         url(/fonts/Roboto-Regular.woff2) format('woff2'), 
         url(/fonts/Roboto-Regular.woff) format('woff'), 
         url("/fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    text-align: left;
}

/*HEADER AND INDEX DESIGN*/

h1 {
    text-align: center;
    margin: 50px;
    font-size: 55px;
    text-shadow: black 1px 0 6px;
    font-family: "Roboto";
    font-weight: 600;
}

.header, .specific-header {
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.header {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.specific-header {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 25rem;
}

.specific-header > img {
    pointer-events: none;
    position: absolute;
    height: 100%;
    z-index: -1;
}

.header > a, .specific-header > a {
    color: white;
    border: solid 1px white;
    border-radius: 5%;
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.3);
}

.header > a:hover, .specific-header > a:hover, .buttons-container > a:hover {
    color: white;
    background-color: rgb(0, 0, 0, 0.7);
    text-decoration: none;
}

.buttons-container > a {
    color: white;
    margin: 5px;
    width: 100px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5%;
    background-color: rgb(0, 0, 0, 0.3);
}

.search {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
}

.card-actions {
    display: flex;
    flex-direction: row-reverse;
    font-size: smaller;
}

.card-actions * {
    margin: 5px;
    border: 1px solid black;
    border-radius: 2px;
}

div > img {
    width: 100% !important;
    height: 20rem;
}


.form-inline {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-inline > .form-group {
    margin-top: 15px;
    width: 5rem;
}

/*CREATE/EDIT PAGE*/

.add-item {
    width: 25%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: medium;
}

select option:disabled {
    color: black;
    font-weight: 700;
    font-size: medium;
}

.data-section {
    border: solid 1px silver;
    margin: 30px 0 30px 0;
    padding: 20px;
}

/*RATING STYLE*/

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

#gold-star ~ label {
    color: #ffc700;
}

/*DETAILS PAGE*/

.relevant-product {
    border: 1px solid silver;
    padding: 7px;
    text-align: center;
    font-weight: 500;
}

.relevant-product > img {
    width: 8rem;
    height: 10rem;
}

.product-name {
    margin-top: 5px;
}