.logo-container {
    display: flex;
    align-items: center;
    background-color: rgb(20,28,75);
    flex-direction: row;
    height: 6rem;
}

nav {
    background-color: rgb(20,28,75);
    padding: 0;
}

img {
    width: 12rem;
    height: 5rem;
}

.nav-item {
    width: 100px;
    margin: 0;
    font-size: large;
}

.nav-link, .nav-link:hover {
    padding: 0 !important;
    margin: 0;
    width: 100%;
    text-align: center;
}

.pos-f-t {
    margin-bottom: 1rem;
}

#signin {
    position: absolute;
    right: 0;
    transform: translateX(-50%);
}
