.header {
    background: url('../Assets/products/clothing/pants2.jpg');
}

.header > h1 {
    font-size: 45px;
}
/*CATEGORIES PAGE*/

.card {
    margin-top: 10px;
}
.card-img-top {
    height: 15rem;
}

.category {
    text-align: center;
}

.category > a {
    width: 100%;
}

/*PRODUCTS PAGE*/

.card-img-top {
    height: 22rem;
}

h4 {
    font-weight: 700;
    font-style: italic;
}

.details {
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
}

.details * {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
}

.card-text {
    font-size: large;
    padding: 10px;
    height: 5rem;
    text-transform: capitalize;
}
