body {
    text-align: left;
}

h1 {
    text-align: center;
    margin: 50px;
}

.header {
    height: 300px;
    text-align: bottom;
    background: url('../Assets/landscape.jpg');
    background-position: center;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.card-header {
    background-color: #0C182E;
    color: white;
    text-align: end;
}

.card-header * {
    margin-right: 15px;
}

.card {
    border: solid 1px #0C182E;
    width: 100%;
    margin-top: 20px;
}

.add-shop {
    font-size: 250%;
    font-weight: 600;
    display: flex;
    flex-direction: row-reverse;
}

/*CSS for CREATE PAGE*/

.control-label {
    font-weight: 600;
}

.data-section {
    border: solid 1px silver;
    margin: 30px 0 30px 0;
    padding: 20px;
}

img {
    width: 100% !important;
}