.header {
    background: url('../Assets/shops/shop1.jpg');
}

.card-header {
    background-color: #0C182E;
    color: white;
    text-align: end;
}

.card-header * {
    margin-right: 15px;
}

.card-header > a {
    color: white;
    border: solid 1px white;
    border-radius: 5%;
    padding: 5px;
}

.card-header > a:hover {
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    text-decoration: none;
}

.card {
    border: solid 1px #0C182E;
    width: 100%;
    margin-top: 20px;
}

.form-inline {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-inline > .form-group {
    margin-top: 15px;
    width: 5rem;
}

.rating-filter * {
}