body {
    text-align: left;
}

h1 {
    text-align: center;
    margin: 50px;
}

.header {
    width: 100%;
    height: 400px;
    text-align: bottom;
    background: url('../Assets/hiking.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn-group {
    margin: auto;
    align-content: center;
}

.btn-group * {
    width: 150px;
    margin: 10px;
}

.card-subtitle, h4 {
    font-weight: 700;
    font-style: italic;
}

.card-title {
    height: 6rem;
    font-size: 85%;
}

.card-text {
    height: 11rem;
}

.address {
    font-size: smaller;
    font-style: italic;
}

.card-actions  {
    display: flex;
    flex-direction: row-reverse;
    font-size: smaller;
}

.card-actions * {
    margin: 5px;
}

.data-name {
    font-weight: 700;
}