
/*INDEX DESIGN*/

.header {
    background: url('../Assets/trips/north/bonim.jpg');
}

.card-subtitle, h4 {
    font-weight: 700;
    font-style: italic;
}

.card-title {
    height: 4rem;
    font-size: 85%;
}

.card-text {
    height: 3rem;
}

.details {
    display: block;
    text-align: center;
    background: url(../Assets/trips/north/bonim.jpg);
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.details:hover {
    color: white;
}

h6 {
    font-weight: 700;
}

.graph {
    border: 1px solid silver;
    margin: 10px;
    height: 20rem;
    width: 20rem;
}