<link rel="stylesheet" href="~/css/product.css">

@model IEnumerable<mr_shtrahman.Models.Product>
@using mr_shtrahman.enums

@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <h1>OUR PRODUCTS</h1>
</div>
<a asp-action="Create" class="btn btn-lg btn-outline-info add-product">ADD PRODUCT +</a>

<div class="row justify-content-between">
    @foreach (var category in Enum.GetValues(typeof(Category)))
    {
        <div class="col-sm-6 category" style="margin-top: 10px">
            <div class="card">
                @*src=@Html.DisplayFor(modelItem => item.Img.Src)*@
                <img class="card-img-top"
                     src='~/Assets/general/hiking1.jpg'>
            </div>
            <a class="btn btn-dark btn-lg" 
               asp-action="Category" asp-route-category=@category>
            @category.ToString().ToUpper()
            </a>
        </div>
    }
</div>