<link rel="stylesheet" href="~/css/product.css">
<link rel="stylesheet" href="~/css/general.css">

@model IEnumerable<mr_shtrahman.Models.Product>
@using mr_shtrahman.enums

@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <h1>OUR PRODUCTS</h1>
    <form asp-action="Search" class="input-group search">
        <div class="form-outline">
            <input name="query"
                   placeholder="search shops"
                   type="search"
                   class="form-control" />
        </div>
        <button type="submit" value="search" class="btn btn-dark">
            Search
        </button>
    </form>
    <a asp-controller="Home" asp-action="Index">Go Back</a>
</div>
<a asp-action="Create" class="btn btn-lg btn-outline-info add-item">ADD PRODUCT +</a>

<div class="row justify-content-between">
    @foreach (var category in ViewBag.Categories)
    {
        <div class="col-sm-6 category" style="margin-top: 10px">
            <div class="card">
                <input type="hidden" value=@category name="dynamicImageUrl"/>
                <img class="card-img-top" name="@category.ToString().ToLower()"
                     src="">
            </div>
            <a class="btn btn-dark btn-lg" 
               asp-action="Category" asp-route-category=@category>
            @category.ToString().ToUpper()
            </a>
        </div>
    }
</div>

<script type="text/javascript">
    document.getElementsByName('dynamicImageUrl').forEach(c => {
        var currentCategory = c.value.toLowerCase();
        var path = "/Assets/categories/" + currentCategory + ".jpg";
        document.getElementsByName(currentCategory)[0].src = path;
    });
</script>