<link rel="stylesheet" href="~/css/trip.css">

@model mr_shtrahman.Models.Trip

@{
    ViewData["Title"] = "Map";
}

<div class="header">
    <h1>OUR TRIPS</h1>
    <a asp-action="Index">Go Back</a>
</div>
    <div class="container">
       This whole page is a placeholder for Jack's map
    </div>
